// Variables
$Gold: #dea83b;
$Grey: #6a6a6a;

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

%container {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}

%btn-style {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  font-size: 1.5rem;
  color: #dea83b;
  font-weight: 600;
  border: 2px solid #dea83b;
  padding: 0.5rem;
  border-radius: 5px;

  &:hover {
    background: #dea83b;
    transition: 500ms ease;
    color: #fff;
  }
}

%heading-vertical-line-style {
  h2 {
    position: relative;
    font-size: 30px;

    overflow: hidden;
  }
  h2:before,
  h2:after {
    position: absolute;
    // position: relative;
    top: 51%;
    overflow: hidden;
    width: 80%;
    height: 1px;
    content: "\a0";
    background-color: #dea83b;
    margin-left: 4rem;
  }
  h2:before {
    margin-left: 700px;
  }
}
@mixin heading-vertical-line-style-mediaQ {
  h2 {
    overflow: hidden;
    text-align: center;
  }

  h2:before,
  h2:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    margin-left: 0;
  }

  h2:before {
    right: 0.5em;
    margin-left: -50%;
  }

  h2:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

%work-section-style {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 6rem;

  h3 {
    font-size: 1.9rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.9rem;
    padding-top: 0.5rem;
    color: $Gold;
  }

  p {
    padding-top: 1rem;
  }
  .work-title {
    line-height: 1.5rem;
  }
}

@mixin MQ($breakpoint) {
  @if $breakpoint == largeScreen {
    @media only screen and (max-width: 1280px) {
      @content;
    }
  }

  @if $breakpoint == mediumScreen {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == smallScreen {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == mobileScreen {
    @media only screen and (max-width: 604px) {
      @content;
    }
  }
}
