.footer {
  //   @extend %container;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background: rgb(252, 252, 252);
  width: 100%;
  height: 17vh;
  margin-top: 8rem;
  position: relative;
  z-index: 0;
  color: rgb(36, 36, 36);
  @include MQ(mediumScreen) {
    font-size: 1.1rem;
  }
  @include MQ(mobileScreen) {
    height: 200px;
    width: 100%;
    font-size: 1.9rem;
  }

  h2 {
    @extend %container;
    font-size: 2.6rem;
    width: 100%;
    padding-top: 2rem;
    @include MQ(mediumScreen) {
      font-size: 2rem;
    }
  }
  h3 {
    @extend %container;
    font-size: 1.5rem;
    grid-column: 1;
    font-weight: 400;
    @include MQ(mediumScreen) {
      font-size: 1.1rem;
    }
  }

  .social-icons {
    grid-row: 3;
    grid-column: 1;
    padding-top: 1rem;
    margin: 0;
    font-size: 0.7rem;

    @include MQ(mediumScreen) {
      font-size: 0.7rem;
    }
    @include MQ(smallScreen) {
      padding-top: 1rem;
    }
    .fab {
      padding: 0 8px 0 0;
    }
    a {
      color: $Grey;
    }
    :hover {
      color: $Gold;
      transition: 500ms ease;
    }
  }

  .footer-heading {
    @extend %container;
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 12vh;
    margin-bottom: 2rem;
    h2 {
      margin: 0;
      font-size: 1.6rem;
      @include MQ(mobileScreen) {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
      }
      @include MQ(extraSmall) {
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
      }
    }
    h3 {
      margin: 0;
      @include MQ(mobileScreen) {
        // justify-content: center;
        width: 100%;
        padding-top: 1rem;
      }
      @include MQ(smallScreen) {
        align-items: start;
      }
    }

    .email {
      font-weight: 300;
      grid-column: 2;
      grid-row: 3;
      justify-self: end;
      align-self: start;
      @include MQ(mediumScreen) {
        font-size: 1rem;
      }
      @include MQ(mobileScreen) {
        align-self: center;
        padding-top: 1rem;
      }
      // @include MQ(smallScreen) {
      //   justify-self: end;
      // }
      @include MQ(extraSmall) {
        font-size: 0.8rem;
      }
    }

    @include MQ(extraSmall) {
      margin: 0 auto;
      width: 100%;
    }
    @include MQ(mobileScreen) {
      width: 100%;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}
