.site-header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  height: 4rem;
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 1;

  .container {
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
  }

  .logo {
    float: left;
    padding-top: 0.5rem;
    @include MQ(extraSmall) {
      width: 35px;
      padding-top: 0.9rem;
    }
  }
  .resume {
    @extend %btn-style;
    font-size: 1rem;
    padding: 0.5rem 1.4rem;
    float: right;
    margin-top: 0.9rem;
    margin-left: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    @include MQ(mediumScreen) {
      display: none;
    }
  }
  .main-nav {
    float: right;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-weight: 300;
    }
    li {
      display: inline-block;
      margin-left: 50px;
      padding-top: 1.5rem;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #303030;
      &:hover {
        color: $Gold;
      }
    }
  }

  .main-nav2 {
    float: right;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-weight: 300;
    }
    li {
      display: inline-block;
      margin-left: 50px;
      padding-top: 1.5rem;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #303030;
      &:hover {
        color: $Gold;
      }
    }
    @include MQ(mediumScreen) {
      display: none;
    }
  }
}
