.container-projects {
  @extend %container;
  @extend %heading-vertical-line-style;

  @include MQ(mediumScreen) {
    @include heading-vertical-line-style-mediaQ;
  }

  margin-top: 10rem;
  margin-bottom: 10rem;

  .fa-free-code-camp {
    color: green;
  }
  h2 {
    color: $Grey;
    @include MQ(extraSmall) {
      font-size: 1.2rem;
    }
  }
  .project-grid {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 12fr));
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-rows: 250px;
    // grid-auto-flow: dense;
    grid-gap: 1rem;
    margin-top: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
    @include MQ(extraSmall) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  .project-grid figure img {
    -webkit-transform: scale(1.5);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .project-grid figure:hover img {
    -webkit-transform: scale(0.5);
    transform: scale(0.9);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-1 {
    width: 100%;
  }
  .image-2 {
    width: 100%;
  }
  .image-3 {
    width: 100%;

    .image-4 {
      width: 100%;
    }
    .image-5 {
      width: 100%;
    }
    .image-6 {
      width: 100%;
    }
  }
}

.before-footer {
  @extend %container;
  text-align: center;
  margin-top: 14rem;

  .hr-line {
    position: relative;
    border-top: 1px solid $Grey;
    margin-bottom: 2rem;
  }
  p {
    max-width: 850px;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.9rem;
    margin-top: 4rem;
    @include MQ(mediumScreen) {
      font-size: 1.2rem;
    }
    @include MQ(smallScreen) {
      font-size: 1rem;
    }
    @include MQ(extraSmall) {
      font-size: 0.9rem;
    }
  }
}
